h1{
    font-family: 'Sansita Swashed', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}
body{
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
}

#target{
      display: block;
      margin-left: auto;
      margin-right: auto;
}
h2{
    text-align:right;
    padding: 5%;
}

#radiobuttonvalues{
    font-size: 25px;
    align-items: center;
    text-align: center; 
    color: white;

}


.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 18px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    font-family: 'Sansita Swashed', cursive;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 17px;
    line-height: 1.4;
}


/* CSS animation */

@-webkit-keyframes fadeIn {
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}