<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Serpent Strategy</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
     <header>
      <h1>
        Serpent &nbsp;Strategy
      </h1>
      <h2>
        Use the arrow keys to move.
      </h2>    
    </header>
    
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <script src="/js/normalscript.js"></script>
    
    <div class="center">    
      <a href="/easy" class="button easy">Easy</a>
      <a href="/normal" class="button normal">Normal</a>
      <a href="/hard" class="button hard">Hard</a>
    </div>
  </body>
</html>
