<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
      <!--   Include head with EJS template   -->
      <%- include("./partials/head"); %>
      <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <body>
      
    <div class="container" id="app">
        <div class="row">
            <div class="col align-self-center" id="playersList">
                <input type="text" id="nameField" placeholder="Your Name">
                <button class="btn btn-primary" id="joinButton">Join Game</button>

                <p>Current players:</p>
                <ul>
                    <li v-for="p in players" v-bind:class="{correctThisDrawing: p.correctThisDrawing}">{{ p.name }} ({{ p.correct}} correct)</li>
                </ul>

                <div v-if="isLeader && !started" id="leaderControls" class="text-center card">
                    <label for="numRounds">Number of Rounds</label>
                    <select name="numRounds" id="numRounds" class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <label for="secondsPerRound">Seconds Per Round</label>
                    <select name="secondsPerRound" id="secondsPerRound" class="form-control">
                      <option>40</option>
                      <option>50</option>
                      <option>60</option>  
                      <option>70</option>  
                      <option>80</option>  
                      <option>90</option>  
                      <option>100</option>  
                      <option>110</option>  
                      <option>120</option>  
                    </select>
                    <button class="btn btn-success" v-on:click="sendStart()">Start</button>
                </div>
            </div>

            <div class="col">
                <h3 v-if="canDraw">It's your turn to draw!</h3>
                <h2 v-if="gameFinished" style="color: red">Game over!</h2>
                <div class="text-center">
                    <h4>Word: <span v-if="!canDraw" style="letter-spacing: 3px;">{{ word }}</span><span v-else>{{ word }}</span></h4><h4>Time left: {{ timeLeft }}</h4>
                </div>

                <canvas id="canvasArea" width="600" height="600"></canvas>
            </div>
            
            <div class="col">
                <h3>Chat</h3>
                <div class="align-self-baseline scroll" id="guessBox">
                    <p v-for="m in messages">
                        <b v-if="m.correct" style="color: lawngreen">{{ m.player }} guessed the answer!</b>
                        <span v-else><b>{{ m.player }}:</b> {{ m.message }}</span>
                    </p>
                </div>
                <div style="position:absolute; left:0; bottom:0;">
                    <input id="messageBox" type="text" maxlength="30" placeholder="Enter your guess!">
                </div>
            </div>
        </div>
      
        <div class="row">
          <div class="col"></div> 
          <button id="clearButton" class="btn btn-primary">Clear</button>
          
          <div class="col">
            <div class="row" id="strokeButtonContainer">
              <p>Stroke Width</p>
            </div>
            <div class="row" id="colorButtonContainer">
              
            </div>
          </div>
          <div class="col"></div>
        </div>
    </div>
    <script src="scripts.js"></script>
    
  <!--   Help Modal   -->
  <!-- Button trigger modal -->
  <div class="fixed-bottom d-flex justify-content-end">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#helpModal" style="margin: 1rem">
        Help
      </button>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLabel">Help</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Welcome to my app!</h4>
          <p>
            This application functions very similarly to skribbl.io. Players take turns drawing a randomly selected word.
            While one player draws, all the other players try to guess what the word is before the time runs out. Guess correctly and
            your score increases.
          </p>
          <b>Playing</b>
          <p>
            To join the game, type in a username in the field to the left of the canvas and hit the "Join Game" button.
          </p>
          <b>Drawing</b>
          <p>
            When it is your turn to draw, you will be notified with a browser alert. Your word will be revealed at the top of the
            screen, then the canvas will unlock. Other players will have to guess this word based on your drawing - they can only see
            the length of the word and your drawing. You can select different colors by clicking on the colored buttons below the canvas.
            You can change brush sizes by clicking the buttons with numbers on them above the colored buttons. To clear the canvas and
            start over, press the "Clear" button.
          </p>
          <b>Guessing</b>
          <p>
            When it is not your turn to draw, you will try to guess what the currently drawing player is drawing. You can see the length
            of the word above the canvas, but not the word itself. Type your guesses into the message box on the right side of the
            canvas. There is no limit to the number of guesses you can make, but there is a time limit; guess before the time limit,
            and you get a point. Incorrect guesses will be sent to the chat. When you guess correctly, a message will appear in the
            chat indicating that you guessed correctly, but the actual answer will not be visible to other players.
          </p>
          <b>Leader</b>
          <p>
            If you are the first person to join the game, you are the leader. You decide how many rounds there will be and how many
            seconds guessers will have to guess each drawing. You also have control over the button that starts the game.
            Currently, because I haven't implemented changing the leader if the current leader leaves, leaving the game as leader
            will prevent it from starting; the server has to be reset. So don't leave :)
          </p>
          <b>Help</b>
          <p>
            If at any point you want to look at this help message again, simply click the "Help" message inthe bottom right hand corner.
            Have fun!
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
  </body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
      <!--   Include head with EJS template   -->
      <%- include("./partials/head"); %>
  <body>
      
    <div class="container" id="app">
        <div class="row">
            <div class="col align-self-center" id="playersList">
                <input type="text" id="nameField" placeholder="Your Name">
                <button class="btn btn-primary" id="joinButton">Join Game</button>

                <p>Current players:</p>
                <ul>
                    <li v-for="p in players">{{ p.name }} ({{ p.correct}} correct)</li>
                </ul>

                <div v-if="isLeader && !started" id="leaderControls" class="text-center">
                    <button class="btn btn-success" v-on:click="sendStart()">Start</button>
                </div>
            </div>

            <div class="col">
                <h3 v-if="canDraw">It's your turn to draw!</h3>
                <h2 v-if="gameFinished" style="color: red">Game over!</h2>
                <div class="text-center">
                    <h4>Word: <span v-if="!canDraw" style="letter-spacing: 3px;">{{ word }}</span><span v-else>{{ word }}</span></h4><h4>Time left: {{ timeLeft }}</h4>
                </div>

                <canvas id="canvasArea" width="600" height="600"></canvas>
            </div>
            
            <div class="col">
                <h3>Chat</h3>
                <div class="align-self-baseline scroll" id="guessBox">
                    <p v-for="m in messages">
                        <b v-if="m.correct" style="color: lawngreen">{{ m.player }} guessed the answer!</b>
                        <span v-else><b>{{ m.player }}:</b> {{ m.message }}</span>
                    </p>
                </div>
                <div style="position:absolute; left:0; bottom:0;">
                    <input id="messageBox" type="text" maxlength="15" placeholder="Enter your guess!">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="buttonContainer">
        <button id="clearButton" class="btn btn-primary">Clear</button>
        <p>Stroke Width</p>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
>>>>>>> 11db836899e120364dba3098bbf8926514b723bd
