<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Visializer</title>
    <script src="/scripts.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="userControl">
    <input type="file"/>
    <button type="button" onclick="musicState()">pause</button>
    <button type="button" onclick="resuMe()">resume</button>
    <button type="button" onclick="replay()">replay</button>
    <button type="button" onclick="setLoop()">set (un)loop</button>
    <select id="colorSelect" >
        <option value="1">Red</option>
        <option value="2">Orange</option>
        <option value="3">Green</option>
<!--        <option value="3">Yellow</option>-->
<!--        <option value="4">Green</option>-->
<!--        <option value="5">Blue</option>-->
<!--        <option value="6">Purple</option>-->
    </select>
    <button type="button" onclick="help()">Help</button>
</div>
<div class="wrapper">
    <canvas id="canvas1"></canvas>
    <canvas id="canvas2"></canvas>
</div>
</body>
</html>