#background {
    /* BOX MODEL */
    width: 100%;
    height: 450px;
    /* ENHANCEMENT */
    background-image: url('/img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    opacity: 0.8;
    z-index: -1;
}


#namebox {
    width: 400px;
    height: 50px;
    background: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 24pt;
    margin-bottom: 20px;
}

#handwritten {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-style: bold;
    font-size: 18pt;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 100px;
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-image: url('/img/avatar.png');
    background-position: center center;
    background-size: 200px;
}

    .avatar:hover {
        background-image: url('/img/avatar-alt.png');
    }

body {
    font-family: 'Montserrat', sans-serif;
}

#upload-music {
    margin-left: 100px;
    color: white;
}

#music {
    display: none;
}

nav button {
    margin-right: 5px;
}

#help {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
