body {
    font-family: 'Roboto Mono', serif;
    color: white;
    background-color: #242424;
}

h1 {
    padding-left: 156px;
}

canvas {
    background-color: white;
    border: 1px solid white;
}

i {
    color: white;
    text-align: center;
    font-size: 20px;
}

#canvasDiv {
    float: left;
}

#rgb {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    float: left;
}

#canvasSidebar {
    padding: 5px;
    border: 1px solid white;
    margin-right: 32px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    background-color: black;
}

#bpmInput {
    width: 500px;
}

#nowPlaying {
    font-size: 22px;
}

#removeButton {
    font-weight: lighter;
    background-color: inherit;
    padding-left: 10px;
    border: none;
}

#sans {
    border: 1px solid white;
    width: 200px;
    height: auto;
}

.hidden {
    height: 0;
    width: 0;
}

.sidebarButton {
    box-sizing: content-box;
    font-size: 100%;
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: black;
}

.fa-file-upload {
    font-size: 24px;
    padding: 10px;
    padding-left: 12px !important;
}
