/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}
#info {
  background-color: gray;
  opacity: 0.5;
	position: absolute;
	top: 300px;
  left: 200px;
	width: 1000px;
  height: 600px;
  font-size: 40px;
	text-align: left;
	z-index: 100;
	display:block;
  visiblity: visible;
}
#infoButton {
	position: absolute;
	top: 100px;
  left: 10px;
	width: 100px;
  height: 100px;
	text-align: center;
	z-index: 100;
	display:block;
}
form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
