h1 {
    font-style: oblique;
}
body
{

}
#canvas{
    position: fixed;
    left: 0;
    top: 100px;
    width: 80%;
    height: 50%;
}

audio{
    position: fixed;
    left: 10px;
    bottom: 10px;
    top: 0px;
    width: 85%;
}

button{
    background-color: #E5F5B7;
    padding: 0.2em 1.2em;
    margin: 0.1em;
    border: 0.1em solid;
    box-sizing: border-box;
    border-radius: 2em;
    margin-bottom: 2px;
}

select{
    position: fixed;
    background-color: antiquewhite;
}

#help{
    float:right;
}