body {
    position: absolute;
    font-family: "Proxima Nova", "Montserrat", sans-serif;
}

h2{
    padding-top: 30px;
}

h2 {
    position: absolute;
    left: 10px;
    font-size: 1.3em;
    font-weight: 100;
}

.fire-departments{
        fill: red;
}

.hospitals{
    fill: rgb(248, 220, 255);
}

.police{
    fill: rgb(3, 20, 248);
}

.schools{
    fill: rgb(144, 243, 157);
}